*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

body {
	width: 100%;
	height: 100%;
	font: 18px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1,h2,h3,h4,h5 {
	margin-bottom: 0.4em;
	line-height: 1.1em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 0.85em;
}

cite {
	font-style: italic;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: #666;
}

a:hover {
	
}

a:active {
	
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

hr {
	margin: 0;
	border: 0;
	height: 0px;
	border-top: 1px solid #ccc;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

ol {
	list-style-type: decimal-leading-zero;
	margin-left: 37px;
}

p,
ul,
ol,
hr,
img,
iframe {
	margin-bottom: 15px;
}

p:last-child,
ul:last-child,
ol:last-child,
hr:last-child,
img:last-child,
iframe:last-child {
	margin-bottom: 0px;
}

.browsehappy {
	margin: 0;
	background: #c00;
	color: #fff;
	padding: 15px;
	text-align: center;
}

header {
	background: #ccc;
}

nav {
	background: #000;
	color: #fff;
}

section {
	background: #fff;
	min-height: 400px;
}

footer {
	background: #444;
	color: #fff;
}