@media screen and (min-width:320px) {
	.inner {
		padding: 25px;
	}
	
	header {
		height: 70px;
	}
	
	.hand {
		width: 132px;
		height: auto;
	}
	
	.qr-code {
		display: none;
	}
}

@media screen and (min-width:480px) {
	.hand {
		width: 150px;
	}
}

@media screen and (min-width:600px) {
	.hand {
		width: 200px;
	}
}

@media screen and (min-width:768px) {
	.inner {
		padding: 25px 0;
		width: 710px;
		margin: 0 auto;
	}
	
	.hand {
		width: auto;
	}
	
	.qr-code {
		display: inline-block;
	}
}

@media screen and (min-width:900px) {
	.inner {
		padding: 25px 0;
		width: 850px;
	}
}

@media screen and (min-width:1024px) {
	.inner {
		width: 980px;
	}
}