@media screen and (min-width:320px) {
	
	nav {
		width: 80%;
		padding: 60px 1px 10px 0px;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	
	nav.hidden {
		margin-left: -95%;
	}
	
	nav .nav-logo {
		position: absolute;
		left: 15px;
		top: 19px;
		font-size:1.3em;
		color: #666;
	}
	
	nav .nav-logo::before {
		content: "\f039";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-right: 10px;
	}
	
	nav .close {
		position: absolute;
		right: 15px;
		top: 10px;
		padding: 10px 12px;
		border-radius: 25px;
		background: #333;
		line-height: 1em;
	}
	
	nav .close a {
		color: #000;
	}
	
	header .open {
		position: absolute;
		left: 15px;
		top: 6px;
		padding: 10px 11px;
		border-radius: 50px;
		background: #000;
		line-height: 1em;
	}
	
	header .open a {
		color: #ccc;
	}
	
	header {
		text-align: right;
	}
	
	nav .inner {
		padding: 0;
	}
	
	nav ul {
		margin: 0;
		list-style: none;
	}
	
	nav ul li {
		display: inline-block;
		width: 100%;
	}
	
	nav ul li a {
		padding: 15px;
		display: inline-block;
		width: 100%;
		background: -webkit-linear-gradient(top, #222, #1b1b1b);
		background: -moz-linear-gradient(top, #222, #1b1b1b);
		background: -o-linear-gradient(top, #222, #1b1b1b);
		background: -ms-linear-gradient(top, #222, #1b1b1b);
		background: linear-gradient(top, #1f1f1f, #1b1b1b);
		background-color: #111111;
		border-top: 1px solid #2b2b2b;
		border-bottom: 1px solid #000;
		color: #ccc !important;
		text-shadow: #000 1px 1px 0;
	}
	
	nav ul li:last-child a {
		border-bottom: 1px solid #222;
	}
	
	/* xxxxxxxxxx Submenu xxxxxxxxxx */
	
	nav ul ul li a {
		background: #292929;
		border-top: 1px solid #333;
		border-bottom: 1px solid #111;
		text-indent: 15px;
		color: #bbb !important;
		text-shadow: #000 1px 1px 0;
	}
	
	nav ul ul {
	}
}

@media screen and (min-width:480px) {
	
}

@media screen and (min-width:600px) {
	
	nav {
		width: 65%;
	}
	
}

@media screen and (min-width:768px) {

	header .open {
		top: 11px;
		padding: 11px 12px;
	}
	
}

@media screen and (min-width:900px) {
	
}

@media screen and (min-width:1024px) {
	
}