@media screen and (min-width:320px) {
	
	nav {
		width: 85%;
		height: 100%;
		padding: 60px 1px 10px 0px;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		-moz-transition: all .4s;
		-o-transition: all .4s;
		-webkit-transition: all .4s;
		transition: all .4s;
		opacity: 1;
		overflow: inherit;
	}
	
	nav.hidden {
		margin-left: -85%;
		opacity: 0;
		overflow: hidden;
	}
	
	nav .nav-logo {
		position: absolute;
		left: 15px;
		top: 19px;
		font-size:1.3em;
		color: #888;
	}
	
	nav .nav-logo::before {
		content: "\f0c9";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-right: 10px;
	}
	
	nav .close {
		position: absolute;
		right: 15px;
		top: 12px;
		padding: 8px 10px;
		border-radius: 25px;
		background: #444;
		line-height: 1em;
		cursor: pointer;
	}
	
	nav .close a {
		color: #000;
	}
	
	nav .close:hover {
		background: #666;
	}
	
	header .open {
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 18px;
		background: #222;
		line-height: 1em;
		font-size: 1.8em;
		border-right: 1px solid #000;
		cursor: pointer;
	}
	
	header .open:hover {
		background: #333;
	}
	
	header .open a {
		color: #ccc;
	}
	
	header {
		text-align: right;
	}
	
	nav .inner {
		padding: 0;
	}
	
	nav ul.menu {
		margin: 0;
		list-style: none;
		display: block;
	}
	
	nav ul.menu li {
		display: block;
		position: relative;
	}
	
	nav ul.menu li i {
		display: inline-block;
		width: 21px;
		text-align: left;
	}
	
	nav ul.menu li a {
		padding: 15px;
		display: block;
		background: -webkit-linear-gradient(top, #1f1f1f, #1b1b1b);
		background: -moz-linear-gradient(top, #1f1f1f, #1b1b1b);
		background: linear-gradient(top, #1f1f1f, #1b1b1b);
		background-color: #1e1e1e;
		border-top: 1px solid #282828;
		border-bottom: 1px solid #000;
		color: #ccc !important;
		text-shadow: #000 1px 1px 0;
	}
	
	nav ul.menu li:last-child a {
		border-bottom: 1px solid #222;
	}
	
	nav ul.menu li a:active {
		background: #111;
	}
	
	nav ul.menu li.current a {
		background: #141414;
	}
	
	/* xxxxxxxxxx Submenu xxxxxxxxxx */

	nav ul.menu li a.indicator.closed::after {
		content: "+";
		top: 14px;
	}
	
	nav ul.menu li a.indicator::after {
		content: "–";
		top: 13px;
	}
	
	nav ul.menu li a.indicator::after {
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-left: 15px;
		font-size: 1.8em;
		color: #666;
		position: absolute;
		right: 15px;
	}

	nav ul.menu ul {
		margin-left: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}	
	
	nav ul.menu ul.hidden {
		margin-left: -95%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	nav ul.menu ul.hidden > li {
		display: none;
	}
	
	nav ul.menu ul li a {
		background: #252525;
		border-top: 1px solid #333;
		border-bottom: 1px solid #111;
		text-indent: 25px;
		color: #bbb !important;
		text-shadow: #000 1px 1px 0;
	}
	
	nav ul.menu ul li a:active {
		background: #151515;
	}
	
	nav ul.menu ul li.current a {
		background: #181818 !important
	}
	
}

@media screen and (min-width:480px) {
	
	nav {
		width: 350px;
	}
	
	nav ul.menu {
		max-width: 349px;
	}
	
}