@media screen and (min-width:320px) {
	
	nav {
		z-index: 99999999999999;
		outline: none !important;
		width: 85%;
		height: 100%;
		padding: 60px 0px 10px 0px;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		overflow: inherit;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	
	nav .inner {
		display: inline-block;
		width: 100%;
	}
	
	nav a {
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	nav.hidden {
		margin-left: -85%;
		overflow: hidden;
	}

	nav .nav-logo {
		position: absolute;
		left: 15px;
		top: 19px;
		font-size: 1.3em;
		color: #888;
	}

	nav .nav-logo::before {
		content: "\f0c9";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-right: 10px;
	}

	nav .close {
		position: absolute;
		right: 15px;
		top: 12px;
		padding: 8px 10px;
		border-radius: 25px;
		background: #444;
		line-height: 1em;
		cursor: pointer;
	}

	nav .close a {
		color: #000;
	}

	nav .close:hover {
		background: #666;
	}

	.open {
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 18px;
		background: #222;
		line-height: 1em;
		font-size: 1.8em;
		cursor: pointer;
		border-right: 1px solid #111;
	}

	.open:hover {
		background: #111;
	}

	.open a {
		color: #ccc;
	}
	
	.open,
	nav .close {
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	nav .inner {
		padding: 0;
	}

	nav ul.menu {
		margin: 0;
		list-style: none;
		display: block;
	}

	nav ul.menu li {
		display: block;
		position: relative;
	}

	nav ul.menu li i {
		display: inline-block;
		width: 21px;
		text-align: left;
	}

	nav ul.menu li a {
		padding: 15px;
		display: block;
		background-image: -o-linear-gradient(bottom, #1F1F1F 0%, #1B1B1B 100%);
		background-image: -moz-linear-gradient(bottom, #1F1F1F 0%, #1B1B1B 100%);
		background-image: -webkit-linear-gradient(bottom, #1F1F1F 0%, #1B1B1B 100%);
		background-image: -ms-linear-gradient(bottom, #1F1F1F 0%, #1B1B1B 100%);
		background-image: linear-gradient(to bottom, #1F1F1F 0%, #1B1B1B 100%);
		border-top: 1px solid #282828;
		border-bottom: 1px solid #000;
		color: #ccc !important;
		text-shadow: #000 1px 1px 0;
	}

	nav ul.menu li:last-child a {
		border-bottom: 1px solid #222;
	}

	nav ul.menu li a:hover {
	}
	
	nav ul.menu li a:active {
		background: #111;
	}

	nav ul.menu li.current a,
	nav ul.menu li.current a:hover {
		background: #141414;
	}
	
	/* xxxxxxxxxx Submenu xxxxxxxxxx */

	nav ul.menu li a.indicator.closed::after {
		content: "+";
		top: 14px;
	}

	nav ul.menu li a.indicator::after {
		content: "–";
		top: 13px;
	}

	nav ul.menu li a.indicator::after {
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-left: 15px;
		font-size: 1.8em;
		color: #666;
		position: absolute;
		right: 15px;
	}

	nav ul.menu ul {
		margin-left: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	nav ul.menu ul.hidden {
		margin-left: -95%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	nav ul.menu ul.hidden > li {
		display: none;
	}

	nav ul.menu ul li a {
		background: #252525;
		border-top: 1px solid #333;
		border-bottom: 1px solid #111;
		text-indent: 25px;
		color: #bbb !important;
		text-shadow: #000 1px 1px 0;
	}

	nav ul.menu ul li a:hover {
		background: #1d1d1d;
	}
	
	nav ul.menu ul li a:active {
		background: #151515;
	}

	nav ul.menu ul li.current a,
	nav ul.menu ul li.current a:hover {
		background: #181818 !important;
	}
	
	.search {
		background: #222;
		padding: 15px;
		border-bottom: 1px solid #000;
	}
	
	.search input {
		display: inline-block;
		width: 100%;
		padding: 10px 15px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		background: #111;
		border: 1px solid #292929;
		-webkit-box-shadow: inset 0px 3px 5px #000;
		-moz-box-shadow: inset 0px 3px 5px #000;
		box-shadow: inset 0px 3px 5px #000;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
		color: #555;
	}
	
	.search input:focus {
		background: #000;
		border-color: #242424;
		color: #fff;
	}
	
}

@media screen and (min-width:480px) {
	
	nav {
		width: 350px;
	}

}